<body style="background-color:#FFFF88">
<div class = "">
  <br>
  <h1>
    <a style="color:rgb(46, 46, 46);">แสดงประวัติการรักษา</a>
  </h1>

  <div style="text-align:center:">


    <form>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;" > No </th>
          <td mat-cell *matCellDef="let element"> {{element.historyId}} </td>
        </ng-container>

        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Date </th>
          <td mat-cell *matCellDef="let element"> {{element.hisdate}} </td>
        </ng-container>

        <ng-container matColumnDef="Note">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Note </th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <ng-container matColumnDef="Casehis">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Case </th>
          <td mat-cell *matCellDef="let element"> {{element.casehis.casehis}} </td>
        </ng-container>

        <ng-container matColumnDef="Customer">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Name </th>
          <td mat-cell *matCellDef="let element"> {{element.customer.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="DentistData">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Name </th>
          <td mat-cell *matCellDef="let element"> {{element.dentistData.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;" > Type</th>
          <td mat-cell *matCellDef="let element"> {{element.type.nameType}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <br>
      <div class="button-1">
        <button mat-raised-button [routerLink]="['/tab']" >หน้าแรก</button>
      </div>
      <br>

    </form>
  </div>
</div>
</body>
